<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/Content/about.css' />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css"/>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Script/app.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Herr+Von+Muellerhoff&display=swap"
        rel="stylesheet">
  </head>

<aside>
<main>
    <section>
        <!---aboutmepage-->
        <li class="/aboutus">
            <h2>About our Website</h2>
            <p>Hello! my name is Aleena Khan, welcome to Elegance Essentials! Through this site you 
                all will be able to create a personalized shopping cart that fits your needs</p>
              </aside>
              </section>
        <div class="img">
          <img src="/Assets/images/About.jpg" alt="black image" class="img">
        </div>

<%- include Partials/footer.ejs%>