<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
<main>
    <section>
        <!---aboutmepage-->
        <li class="/aboutus">
            <h2>About our Website</h2>
            <p>Hello! my name is Aleena Khan, welcome to Elegance Essentials! Through this site you 
                all will be able to create a personalized shopping cart that fits your needs</p>
        </section>
<%- include Partials/footer.ejs%>