<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
<main>
    <section>
        <!---ContactUs-->
        <li class="/contactus">
            <h2>Contact Us</h2>
            <p>Hello! if you have any inqueries about my shop then contact me using. 
                Email: aleenafkhan03@gmail.com
                Number: 7057703313
            </p>
        </section>
<%- include Partials/footer.ejs%>