<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/Content/home.css' />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css"/>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Script/app.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <h2>Elevate your style</h2>
    <h4>with Elegance Essential Products</h4>
    <img src="/Assets/images/home.jpg" alt="feed of fashion items">
  </div>
</body>
<%- include Partials/footer.ejs%>
