html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: linear-gradient(#2e2e30, #a5a1a1, #b1b1b1, #131219);
}

h2{
    font-family: "Bodoni Moda SC", serif;
    font-size: 100px !important;
    text-align: center;
}

p{
    font-family: "Bodoni Moda SC", serif;
    font-size: 50px !important;
    text-align: center; 
    text-shadow: 4px 4px 4px#565050;
}

br{
    font-family: "Bodoni Moda SC", serif;
    font-size: 40px !important;
}