body {
  background-image: url('/Assets/images/home.jpg');
  background-size: 100vw 100vh;
  margin: 0;
  padding:0;
  color: whitesmoke;
  font-family: 'Arial', sans-serif; 
  background: linear-gradient(#5B342A, #c67966,#FDF7F5, #70250E, #472921, #1d110d)
}
img {
    width: 100%;         /* to fill the viewport */
    height: 100%;        /* to fill the viewport */
    border-radius: 8px;  /* Add rounded corners */
}
h2, h4 {
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0,0,0,07);
    text-align: center;
    padding: 0.5em
}

