

body { 
  background: linear-gradient(#2e2e30, #a5a1a1, #b1b1b1, #131219);
}

img {
  max-height:900px;
  width:70%;
  height:auto;
  opacity: 10;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow:hidden;
}

h2 {
  text-shadow: 2px 2px 4px rgb(175, 149, 149);
  text-align: center;
  font-family: "Bodoni Moda SC", serif;
  font-size: 80px !important; 
  font-style: normal;
  padding: 0.5em

}

h4 {
  margin: 0;
  text-shadow: 2px 2px 4px rgb(175, 149, 149);
  text-align: center;
  font-family: "Herr Von Muellerhoff", cursive;
  font-weight: 1000;
  font-size: 50px !important;
  font-style: normal;
  padding: 0.5em
}
